header {
    border: 1px solid whitesmoke;
    margin: 0;
}
* {
    margin: 0;
}

.ewHeader {
    height: fit-content;

}

footer {
    border: 1px solid whitesmoke;
    position: relative;
 
    margin-top: auto;
}

h1 {
    color: whitesmoke;
}
button {
    margin: 10px;
}