
header {
    top: 0;
    background-image: url('../../images/ew.png');
}

body {
    margin: 0;
  }

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1%;
    height: 20px;
}

h1 {
    color: whitesmoke;
}

.navBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
}

.navBar a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.icon {
  color: #fff;
  font-size: 24px;
  background-color: transparent;
  cursor: pointer;
  display: none;

  }

@media screen and (max-width: 600px) {
    .navBar a:not(:first-child) {
        display: none;
    }
    .icon {
        display: none;
    }
}
