* {
    background-color: rgba(0, 0, 0, 0.583);
}

.centuryEgg {
    width: 700px;
    margin: 50px;
}
.cuyRoastedGuineaPig {
    width: 700px;
    margin: 50px;
}
.fermentedBirdInSeal {
    width: 700px;
    margin: 50px;
}
.illegalCheese {
    width: 700px;
    margin: 50px;
}

.lobster  {
    width: 700px;
    margin: 50px;
}
.mellifiedMan {
    width: 700px;
    height: 500px;
    margin: 50px;
}
.pickledSheepsEye {
    width: 700px;
    margin: 50px;
}
.snails {
    width: 700px;
    margin: 50px;
}
.surstromming {
    width: 700px;
    height: 500px;
    margin: 50px;
}
.twinkie {
    width: 700px;
    height: 400px;
    margin: 50px;
}