
.centuryEgg {
    width: 600px;
    margin: 25px;
}
.cuyRoastedGuineaPig {
    width: 600px;
    margin: 25px;
}
.fermentedBirdInSeal {
    width: 600px;
    margin: 25px;
}
.illegalCheese {
    width: 600px;
    margin: 25px;
}

.lobster  {
    width: 600px;
    height: 450px;
    margin: 25px;
}
.mellifiedMan {
    width: 600px;
    height: 400px;
    margin: 25px;
}
.pickledSheepsEye {
    width: 600px;
    margin: 25px;
}
.snails {
    width: 600px;
    margin: 25px;
}
.surstromming {
    width: 600px;
    height: 400px;
    margin: 25px;
}
